## 22FEB
### ASSIGNMENT

### Q1

In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [ ]:
Ans:- to create a Pandas Series containing the given data and print it:

In [1]:
import pandas as pd

# create a Pandas Series
series = pd.Series([4, 8, 15, 16, 23, 42])

# print the series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
In this output, you can see that each element of the series is labeled with an index number, starting from 0. The 
dtype attribute indicates that the data type of the elements in the series is integer (int64).

### Q2

In [ ]:
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [ ]:
Ans:- to create a list variable with 10 elements and then convert it to a Pandas Series:

In [2]:
import pandas as pd

# create a list with 10 elements
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# create a Pandas Series from the list
my_series = pd.Series(my_list)

# print the Pandas Series
print(my_series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [ ]:
In this output, you can see that the Pandas Series has 10 elements labeled with index numbers from 0 to 9. The 
data type of the elements is integer (int64).

### Q3

In [ ]:
Q3. Create a Pandas DataFrame that contains the following data: 

Name 
Alice 
Bob 
Claire 
Then, print the DataFrame. 
Age 25 
30 
27 
Gender Female Male 
Female

In [ ]:
Ans:- an example of how to create a Pandas DataFrame with the given data and print it:

In [3]:
import pandas as pd

# create a dictionary with the data
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# create a Pandas DataFrame from the dictionary
df = pd.DataFrame(data)

# print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
In this output, you can see that the DataFrame has three columns (Name, Age, and Gender) and three rows of data. 
Each row is labeled with an index number starting from 0. The data types of the columns are inferred by Pandas 
based on the data provided.

### Q4

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [ ]:
Ans:- In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different 
data types. It is similar to a spreadsheet or a SQL table. Each column in a DataFrame is a Series object, so a
DataFrame can be thought of as a collection of Series that share the same index. A Series, on the other hand, is a

one-dimensional labeled array capable of holding any data type.

Here's an example to demonstrate the difference between a DataFrame and a Series:

In [4]:
import pandas as pd

# create a Pandas Series
ser = pd.Series([1, 2, 3, 4, 5])

# create a Pandas DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})

# print the Series and the DataFrame
print(ser)
print(df)

0    1
1    2
2    3
3    4
4    5
dtype: int64
   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [ ]:
In this output, you can see that the Series object has only one column of data, and each element is labeled with
an index number starting from 0. On the other hand, the DataFrame has three columns (A, B, and C), and each column 
is a Series object with its own index. The rows in the DataFrame are also labeled with an index number starting
from 0.

So, the main difference between a DataFrame and a Series is that a Series represents a one-dimensional array of
data with a single index, whereas a DataFrame represents a two-dimensional table of data with row and column 
indexes.

### Q5

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [ ]:
Ans:- Pandas provides a wide range of functions for manipulating data in a DataFrame. Here are some commonly used 
functions:

=> head() and tail(): These functions are used to display the first and last n rows of a DataFrame, respectively.
They are useful for quickly inspecting the data and checking if it has been loaded correctly.

In [5]:
import pandas as pd

# create a Pandas DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})

# display the first two rows of the DataFrame
print(df.head(2))

# display the last two rows of the DataFrame
print(df.tail(2))

   A  B  C
0  1  4  7
1  2  5  8
   A  B  C
1  2  5  8
2  3  6  9

In [ ]:
=> describe(): This function is used to generate a summary of statistics for the numerical columns in the
DataFrame, such as count, mean, standard deviation, minimum, and maximum values.

In [6]:
import pandas as pd

# create a Pandas DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})

# generate a summary of statistics for the numerical columns in the DataFrame
print(df.describe())

         A    B    C
count  3.0  3.0  3.0
mean   2.0  5.0  8.0
std    1.0  1.0  1.0
min    1.0  4.0  7.0
25%    1.5  4.5  7.5
50%    2.0  5.0  8.0
75%    2.5  5.5  8.5
max    3.0  6.0  9.0

In [ ]:
=> groupby(): This function is used to group the rows of a DataFrame based on one or more columns, and then apply
a function (such as sum(), mean(), count(), etc.) to each group. This is useful for calculating aggregate 
statistics for subsets of the data.

In [7]:
import pandas as pd

# create a Pandas DataFrame
df = pd.DataFrame({
    'Gender': ['M', 'F', 'M', 'F', 'M'],
    'Height': [170, 160, 180, 155, 175],
    'Weight': [70, 55, 80, 50, 85]
})

# group the data by gender and calculate the mean height and weight for each group
grouped_df = df.groupby('Gender').mean()
print(grouped_df)

        Height     Weight
Gender
F        157.5  52.500000
M        175.0  78.333333

In [ ]:
In this example, the groupby() function is used to group the data by gender, and then the mean() function is 
applied to each group to calculate the average height and weight.

=> merge(): This function is used to combine two or more DataFrames based on a common column or index. This is
useful for combining related data from different sources.

In [8]:
import pandas as pd

# create two Pandas DataFrames
df1 = pd.DataFrame({
    'key': ['A', 'B', 'C', 'D'],
    'value': [1, 2, 3, 4]
})

df2 = pd.DataFrame({
    'key': ['B', 'D', 'E', 'F'],
    'value': [5, 6, 7, 8]
})

# merge the two DataFrames based on the 'key' column
merged_df = pd.merge(df1, df2, on='key')
print(merged_df)

  key  value_x  value_y
0   B        2        5
1   D        4        6

In [ ]:
In this example, the merge() function is used to combine two DataFrames based on the 'key' column. The resulting
DataFrame contains only the rows with matching keys in both DataFrames.

These are just a few examples of the many functions available in Pandas for manipulating data in a DataFrame.

### Q6

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
Ans:- Both Series and DataFrame are mutable in nature, whereas Panel is deprecated since Pandas version 0.25.0 and
has been replaced by MultiIndex and other features.

### Q7

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.

In [ ]:
Ans:- To create a Pandas DataFrame using multiple Series, we can pass a dictionary of Series to the pd.DataFrame()
function. The keys of the dictionary will become the column names of the DataFrame, and the values will become the
data for each column. Here is an example:

In [9]:
import pandas as pd

# create Series for the data
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# create a dictionary of Series
data = {
    'Name': names,
    'Age': ages,
    'Gender': genders
}

# create a DataFrame from the dictionary of Series
df = pd.DataFrame(data)

# print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
In this example, we first create three Series objects for the names, ages, and genders of some people. Then, we 
create a dictionary of these Series objects, where the keys of the dictionary are the column names of the 
DataFrame we want to create.

Finally, we pass the dictionary of Series to the pd.DataFrame() function to create the DataFrame. The resulting 
DataFrame will have three columns ('Name', 'Age', and 'Gender') and three rows of data.