## 24FEB
### ASSIGNMENT

### Q1

In [ ]:
Q1. List any five functions of the pandas library with execution.

In [ ]:
Ans:- here are five functions of the Pandas library with execution examples:

=> read_csv(): This function is used to read data from a CSV file and create a DataFrame object in memory

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')

In [ ]:
=> head(): This function is used to display the first few rows of a DataFrame.

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.head())

In [ ]:
=> describe(): This function is used to generate descriptive statistics of a DataFrame.

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.describe())

In [ ]:
=> groupby(): This function is used to group data based on one or more columns and perform some aggregation 
operations.

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
grouped_data = df.groupby(['column_name'])
print(grouped_data.mean())

In [ ]:
=> drop(): This function is used to remove one or more columns or rows from a DataFrame.

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
new_df = df.drop(['column_name1', 'column_name2'], axis=1)
print(new_df.head())

### Q2

In [ ]:
Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [ ]:
Ans:- Here's a Python function that re-indexes a Pandas DataFrame with a new index that starts from 1 and 
increments by 2 for each row:

In [5]:
import pandas as pd

def reindex_dataframe(df):
    new_index = pd.RangeIndex(start=1, step=2, stop=len(df)*2)
    df.index = new_index
    return df

In [ ]:
You can call this function with your DataFrame df as an argument:

In [6]:
df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8], 'C': [9, 10, 11, 12]})
reindexed_df = reindex_dataframe(df)
print(reindexed_df)

   A  B   C
1  1  5   9
3  2  6  10
5  3  7  11
7  4  8  12

In [ ]:
In the reindexed DataFrame, the rows are indexed from 1 to 7 with a step of 2.

### Q3

In [ ]:
Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [ ]:
Ans:-  Here's a Python function that iterates over a Pandas DataFrame and calculates the sum of the first three 
values in the 'Values' column:

In [9]:
import pandas as pd

def calculate_sum(df):
    values = df['Values'].head(3)
    sum_values = values.sum()
    print('Sum of the first three values:', sum_values)

In [ ]:
You can call this function with your DataFrame df as an argument:

In [10]:
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
calculate_sum(df)

Sum of the first three values: 60

In [ ]:
The output will be the sum of the first three values in the 'Values' column:

In [ ]:
In this example, the first three values in the 'Values' column are 10, 20, and 30, so their sum is 60. The
function calculates the sum and prints it to the console.

### Q4

In [ ]:
Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [ ]:
Ans:- Here's a Python function that creates a new column 'Word_Count' in a Pandas DataFrame df that contains the 
number of words in each row of the 'Text' column:

In [11]:
import pandas as pd

def count_words(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df

In [ ]:
You can call this function with your DataFrame df as an argument:

In [12]:
df = pd.DataFrame({'Text': ['This is a sentence.', 'This is another sentence with more words.']})
df = count_words(df)
print(df)

                                        Text  Word_Count
0                        This is a sentence.           4
1  This is another sentence with more words.           7

In [ ]:
In this example, the 'Text' column contains two sentences. The function applies a lambda function to each row of
the 'Text' column that splits the text into words and counts the number of words. It then creates a new column
'Word_Count' in the DataFrame with the word count for each row.

### Q5

In [ ]:
Q5. How are DataFrame.size() and DataFrame.shape() different?

In [ ]:
Ans:- Both DataFrame.size() and DataFrame.shape() are methods in Pandas that provide information about the shape
of a DataFrame. However, they provide different information:

=> DataFrame.size() returns the total number of elements in the DataFrame, i.e., the number of rows times the 
number of columns. This method returns a scalar value.

=> DataFrame.shape() returns a tuple containing the number of rows and columns in the DataFrame. The first element
of the tuple is the number of rows, and the second element is the number of columns.

Here's an example to illustrate the difference between the two methods:

In [13]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

print(df.size)
print(df.shape)

6
(3, 2)

In [ ]:
In this example, the DataFrame df has 3 rows and 2 columns. The size() method returns the total number of elements 
in the DataFrame, which is 6. The shape() method returns a tuple containing the number of rows and columns in the
DataFrame, which is (3, 2).

### Q6

In [ ]:
Q6. Which function of pandas do we use to read an excel file?

In [ ]:
Ans:- To read an Excel file in Pandas, we can use the pandas.read_excel() function. This function reads an Excel
file into a Pandas DataFrame. Here's an example:

In [ ]:
import pandas as pd

df = pd.read_excel('file.xlsx')

In [ ]:
In this example, the pd.read_excel() function reads the Excel file named 'file.xlsx' into a DataFrame df. The 
function infers the sheet name and column names automatically. If you want to read a specific sheet or select 
specific columns, you can use the optional arguments sheet_name and usecols, respectively. For example:

In [ ]:
import pandas as pd

df = pd.read_excel('file.xlsx', sheet_name='Sheet1', usecols=['A', 'B'])

In [ ]:
In this example, the pd.read_excel() function reads only columns 'A' and 'B' from the sheet 'Sheet1' in the Excel 
file 'file.xlsx' into a DataFrame df.

### Q7

In [ ]:
Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [ ]:
Ans:- Here's a Python function that extracts the username from the 'Email' column of a Pandas DataFrame df and 
creates a new 'Username' column:

In [18]:
import pandas as pd

def extract_username(df):
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    return df

In [ ]:
You can call this function with your DataFrame df as an argument:

In [19]:
df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.smith@example.com']})
df = extract_username(df)
print(df)

                    Email    Username
0    john.doe@example.com    john.doe
1  jane.smith@example.com  jane.smith

In [ ]:
In this example, the 'Email' column contains two email addresses. The function applies a lambda function to each 
row of the 'Email' column that splits the email address into two parts at the '@' symbol and selects the first 
part, which is the username. It then creates a new column 'Username' in the DataFrame with the username for each
email address.

### Q8

In [ ]:
Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

In [ ]:
Ans:- Here's a Python function that selects all rows where the value in column 'A' is greater than 5 and the value
in column 'B' is less than 10:

In [20]:
import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

In [ ]:
You can call this function with your DataFrame df as an argument:

In [21]:
df = pd.DataFrame({'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]})
selected_rows = select_rows(df)
print(selected_rows)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [ ]:
In this example, the function applies a Boolean mask to the DataFrame df that selects all rows where the value in 
column 'A' is greater than 5 and the value in column 'B' is less than 10. It then returns a new DataFrame 
selected_rows that contains only the selected rows.