## 25 FEB 
### Assignment

### Q1

Consider following code to answer further questions:
import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [2]:
import pandas as pd

In [3]:
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [4]:
print(df[['course_name', 'duration']])

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

### Q2

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

Ans:- Pandas library of python is very useful for the manipulation of mathematical data and is widely used in the 
field of machine learning. It comprises many methods for its proper functioning. loc() and iloc() are one of those
methods. These are used in slicing data from the Pandas DataFrame. They help in the convenient selection of 
data from the DataFrame in Python. They are used in filtering the data according to some conditions.

Python loc() function
The loc() function is label based data selecting method which means that we have to pass the name of the row or
column which we want to select. This method includes the last element of the range passed in it, unlike iloc(). 
loc() can accept the boolean data unlike iloc().

Python iloc() function
The iloc() function is an indexed-based selecting method which means that we have to pass an integer index in the
method to select a specific row/column. This method does not include the last element of the range passed in it 
unlike loc(). iloc() does not accept the boolean data unlike loc().

### Q3

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].
Did you observe any difference in both the outputs? If so then explain it.
Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [5]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]

In [6]:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [7]:
new_df = df1.reindex([3,0,1,2])

In [8]:
print(new_df.loc[2])

column_1    0.870901
column_2    0.803562
column_3    0.137960
column_4    0.279441
column_5    0.334739
column_6    0.048695
Name: 2, dtype: float64

In [9]:
print(new_df.iloc[2])

column_1    0.789271
column_2    0.479215
column_3    0.373105
column_4    0.205041
column_5    0.671786
column_6    0.884960
Name: 1, dtype: float64

Therefore, the two outputs are different because .loc accesses rows based on the current index labels, while .iloc
accesses rows based on the current integer positions. In this case, the reindexing changes the order of the rows, 
so the row with index 2 in the new dataframe is different from the row with index 2 in the original dataframe.

Regarding the additional code provided, the code creates a new Pandas DataFrame called df1 with 6 rows and 6 
columns, where each cell contains a random number between 0 and 1. The columns are labeled 'column_1' to 
'column_6', and the rows are indexed from 1 to 6.

### Q4

In [ ]:
Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [ ]:
Ans:- To find the statistical measurements for the dataframe df1, we can use the .mean() and .std() methods:

(i) To find the mean of each and every column present in the dataframe, we can use:

In [10]:
df1.mean()

column_1    0.545569
column_2    0.521298
column_3    0.413128
column_4    0.209578
column_5    0.468777
column_6    0.481900
dtype: float64

In [ ]:
his will give us the mean value for each column in the dataframe.

(ii) To find the standard deviation of column 'column_2', we can use

In [11]:
df1['column_2'].std()

0.26951424605620555

In [ ]:
This will give us the standard deviation of the values in the 'column_2' column.

Putting it all together, the code to find the statistical measurements for the dataframe df1 is:

In [12]:
import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]

# Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

# Find mean of each and every column:
print("Mean of each column:")
print(df1.mean())

# Find standard deviation of column 'column_2':
print("Standard deviation of column 'column_2':")
print(df1['column_2'].std())

Mean of each column:
column_1    0.354765
column_2    0.670202
column_3    0.476055
column_4    0.524409
column_5    0.482698
column_6    0.721163
dtype: float64
Standard deviation of column 'column_2':
0.28313728263462756

### Q5

In [ ]:
Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

Ans:- To replace the data present in the second row of the 'column_2' column with a string variable

In [13]:
df1.loc[2, 'column_2'] = 'string data'

This code uses the loc method to access the value in the second row and 'column_2' column of the DataFrame df1
and assigns it the string value 'string data'.

However, since 'string data' is not a numeric value, you may get errors when trying to find the mean of the 
'column_2' column using the mean() method. This is because mean() method is used for calculating the mean of
numeric values only. If the column contains non-numeric data, it will raise a TypeError.

So to avoid this error, you can first convert the 'column_2' column to a numeric data type using the
pd.to_numeric()

In [14]:
df1['column_2'] = pd.to_numeric(df1['column_2'], errors='coerce')

This code will convert the 'column_2' column to a numeric data type and set any non-numeric values to NaN
(Not a Number).

Now, you can find the mean of the 'column_2' column using the mean() method as follows:

In [15]:
print(df1['column_2'].mean())

0.7678775539529397

This will return the mean of the 'column_2' column as a float value.

### Q6

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In [ ]:
Ans:- In pandas, a window function is a way of applying a function to a subset of data, where the subset is
defined by a sliding window of fixed size. Window functions are commonly used for calculating rolling statistics,
such as moving averages, cumulative sums, and exponential weighted functions.

In [ ]:
andas provides several types of window functions that can be used with the rolling() method. Some of the commonly 
used window functions are:

=> rolling() - It creates a rolling window object with a specified window size and allows you to apply a function
to the data within the window.

=> expanding() - It creates an expanding window object that starts with the first value and expands to include all
values up to the current value.

=> ewm() - It calculates exponential weighted functions.

=> groupby() - It groups the data based on a specified column and then applies a function to each group.

=> resample() - It is used for resampling time-series data at a specified frequency, such as daily, weekly, 
monthly, etc.

=> shift() - It shifts the data by a specified number of periods.

In [ ]:
Window functions provide a powerful way to perform time-series analysis and data manipulation in pandas. 
They allow you to apply complex functions to subsets of data and extract valuable insights from large datasets.

### Q7

In [ ]:
Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [ ]:
Ans:- pandas.datetime has been deprecated since version 0.23.4 and replaced by the datetime module in 
Python's standard library. Here's how you can use the datetime module to print the current month and year:

In [16]:
import datetime

now = datetime.datetime.now()
print("Current month and year:", now.strftime("%B %Y"))

Current month and year: March 2023

In [ ]:
This code first imports the datetime module and then uses the now() method to get the current date and time. 
The strftime() method is used to format the date and time in a specific way. The argument "%B %Y" is a format
string that specifies that we want to display the full month name (%B) followed by the four-digit year (%Y).

### Q8

In [ ]:
Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [ ]:
Ans:- takes in two dates as input, calculates the difference between them in days, hours, and minutes using 
Pandas time delta, and displays the result:

In [17]:
import pandas as pd

# prompt the user to enter the two dates
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# convert the input strings to datetime objects
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# calculate the difference between the two dates
diff = date2 - date1

# extract the days, hours, and minutes from the time delta
days = diff.days
hours = diff.seconds // 3600
minutes = (diff.seconds % 3600) // 60

# display the result
print("Difference between", date1.date(), "and", date2.date(), ":")
print(days, "days,", hours, "hours,", minutes, "minutes")

Enter the first date (YYYY-MM-DD):  2000-08-27
Enter the second date (YYYY-MM-DD):  1997-05-15

Difference between 2000-08-27 and 1997-05-15 :
-1200 days, 0 hours, 0 minutes

In [ ]:
In this code, we first prompt the user to enter the two dates as input strings in the format YYYY-MM-DD.
We then use the pd.to_datetime() method to convert these strings to Pandas datetime objects.

Next, we calculate the difference between the two dates using the - operator. This returns a Pandas time delta
object.

We then extract the number of days, hours, and minutes from the time delta object using the days, seconds, 
and minutes attributes.

Finally, we display the result using the print() function. The output will show the number of days, hours, 
and minutes between the two dates.