## JAN 30 
### Assignment

### Q1

In [ ]:
# 1. Write a program to accept percentage from the user and display the grade according to the following 
criteria: 
Marks 
Grade 
>90 
A 
>80 and <=90 
B 
>=60 and <=80 
C 
below 60 
D

In [ ]:
#include <stdio.h>

int main()
{
    float marks;
    printf("Enter Marks:");
    scanf("%f", &marks);

    if (marks > 90)
        printf("Grade A");
    else if (marks > 80 && marks <= 90)
        printf("Grade B");
    else if (marks >= 60 && marks <= 80)
        printf("Grade C");
    else if (marks < 60)
        printf("Grade D");
    return 0;
}

### Q2

In [ ]:
# Write a program to accept the cost price of a bike and display the road tax to be paid according to the 
following criteria: 
Tax 
15% 
10% 
5% 
Cost Price(in Rs) 
>100000 
5 
50000 and <= 100000 
<= 50000

In [ ]:
#include<stdio.h>
int main(){
    float cost_price, tax;
    printf("Enter the cost price of the bike: ");
    scanf("%f", &cost_price);
    if(cost_price > 100000){
        tax = cost_price * 0.15;
    }
    else if(cost_price <= 100000 && cost_price > 50000){
        tax = cost_price * 0.10;
    }
    else{
        tax = cost_price * 0.05;
    }
    printf("The road tax to be paid is Rs. %.2f", tax);
    return 0;
}

### Q3

In [ ]:
# 3. Accept any city from the user and display monuments of that city. 
City 
Delhi 
Monument 
Red Fort 
Taj Mahal 
Agra 
Jaipur 
Jal Mahal

In [ ]:
# Ans:- Qutub Minar 
# Humayun's Tomb 
# India Gate 
# Akshardham Temple 
# Lotus Temple 
# Purana Qila 
# Rashtrapati Bhavan

### Q4

In [1]:
# 4.Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [2]:
# Ans:- The number can be divided by 3 as many times as necessary until it is less than or equal to 10.

### Q5

In [3]:
# Q5 Why and When to Use while Loop in Python give a detailed description with example

In [4]:
# For example, if you wanted to print out each item in a list, you could use a while loop.

In [5]:
list_items = [1, 2, 3, 4]
i = 0

In [6]:
while i < len(list_items):
    print(list_items[i])
    i += 1

1
2
3
4

In [7]:
# This code will print out each item in the list, starting from the first item and ending with the last item. The while loop will continue to execute until the condition (i < len(list_items)) is no longer true.

### Q6

In [8]:
# Q6 Use nested while loop to print 3 different pattern.

In [ ]:
# Pattern 1:

In [9]:
while (i < 6):
  j = 0
  while (j < i):
    print("*", end="")
    j += 1
  print("")
  i += 1

****
*****

In [ ]:
# Pattern 2:

In [10]:
i = 6
while (i > 0):
  j = 0
  while (j < i):
    print("*", end="")
    j += 1
  print("")
  i -= 1

******
*****
****
***
**
*

In [ ]:
# Pattern 3:

In [11]:
i = 1
while (i < 6):
  j = 0
  while (j < 6 - i):
    print(" ", end="")
    j += 1
  while (j < 6):
    print("*", end="")
    j += 1
  print("")
  i += 1

     *
    **
   ***
  ****
 *****

### Q7

In [12]:
# Q7 Reverse a while loop to display numbers from 10 to 1.

In [13]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

## Q8

In [ ]:
# Q8 Reverse a while loop to display numbers from 10 to 1

In [14]:
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1